pkgbase = mingw-w64-kcoreaddons
	pkgdesc = Addons to QtCore (mingw-w64)
	pkgver = 5.85.0
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = any
	groups = mingw-w64-kf5
	license = LGPL
	makedepends = mingw-w64-extra-cmake-modules>=5.85
	makedepends = mingw-w64-qt5-tools
	depends = mingw-w64-qt5-base
	depends = shared-mime-info
	options = staticlibs
	options = !strip
	options = !buildflags
	source = http://download.kde.org/stable/frameworks/5.85/kcoreaddons-5.85.0.tar.xz
	source = http://download.kde.org/stable/frameworks/5.85/kcoreaddons-5.85.0.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	sha256sums = 90af5743a9e199e213e812313adf08c9034d1d79936565f22075ccb3f7445414
	sha256sums = SKIP

pkgname = mingw-w64-kcoreaddons
